body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}

.standard-Nav {
    display: flex;
    height: 70px;
    background-color: #f3f3f3;
    box-shadow: 0px -10px 36px 3px rgba(143, 142, 142, 0.537);
    
}

.nav-logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    margin-top: auto;
    margin-bottom: auto;

    padding-left: 50px;
    padding-right: 50px;
}

.nav-links {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-basis: 0;
}

.nav-links .nav-search {

    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
}


.nav-links .nav-button a {
    display: flex;
    height: 100%;
    padding-left: 40px;
    padding-right: 40px;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    background-color: #034473;
    transition: background-color 0.3s ease;

}

.nav-links .nav-button a:hover {
    background-color: #0c78c5;
}

.nav-links .nav-button .active {
    background-color: #4494d5;
}


.button {
    padding: 12px 20px;
    border: none;
    border-radius: 30px;
    background-color: #034473;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 150px;
    text-decoration: none;
  }
  
  .button:hover {
      background-color: #4494d5;
  }

     .titleSubheading{
        font-size: 14px;
        color:#767676;
        margin:0px;

        padding:0px;
    }

    .titleHeading{
        font-size: 24px;
        margin:0px;
        padding:0px;
        color:#363636;
    }

    .inputField {
        padding: 10px;
        border: none;
        border-radius: 30px;
        background-color: #f2f2f291;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.061);
        margin-bottom: 10px;
        width: 300px;
        font-size: 14px;
        margin-top:20px;
      }

      .stock-table {
        width: 100%;
        border-collapse: collapse;
        border-radius: 20px;
        overflow: hidden;
      }
      
      .stock-table th,
      .stock-table td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #e0e0e0;
       
      }
      
      .stock-table th {
          background-color: #f3f3f3af;
        font-weight: bold;
        text-transform: uppercase;
      }

      .stock-table tbody tr{
        background-color: #ffffff;
        transition: background-color 0.3s ease;
      }
      
      
      .stock-table tbody tr:hover {
        background-color: #ffffff00;
        transition: background-color 0.3s ease;
      }
      
      .stock-table a {
        text-decoration: none;
        color: #fff;
        background-color: #034473;
        padding: 8px 16px;
        border-radius: 20px;
        transition: background-color 0.3s ease;
      }
      
      .stock-table a:hover {
          background-color: #4494d5;
      }
      
      .stock-table .table-actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      
      .stock-table .table-actions .quantity {
        font-size: 14px;
        color: #888888;
      }
      
      .stock-table .table-actions .add-to-cart {
        font-size: 16px;
        font-weight: bold;
      }